/* Two Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

/* Prymary Shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Mulish', sans-serif;
}

.primary_section {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.primary_heading_h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.common_font_color {
  color: #ff5400;
  font-family: Mulish;
}
.primary_description {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.primary_btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* Nav styles */
.nav_container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav_heading {
  display: flex;
  gap: 7px;
  margin: 50px 0;
}

.nav_items ul a {
  text-decoration: none;
  padding: 30px;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_items .common_font_color {
  color: #ff5400;
  font-family: Mulish;
}

.nav_container_mobile {
  display: none;
  text-decoration: none;
  padding: 30px;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Banner styles */

.banner_container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 85%
    ),
    url('../Images/Group2.png') no-repeat center;
}

.banner_container h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 75px;
  padding-bottom: 35px;
}
.banner_description {
  width: 676px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 50px;
}
.banner_input {
  border: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
  padding-bottom: 50px;
}

.banner_input input {
  border: none;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#When {
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 20px 50px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner_input,
input,
select {
  text-align: center;
  padding: 20px;
}
#Select_Type {
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 20px 50px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Main section styles */
/* Popular Tours */

.Popular_Tours_Heading {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
.Popular_Tours_description {
  display: flex;
  column-gap: 50px;
}
.Popular_Tours_Heading p {
  width: 577px;
  padding-top: 20px;
  line-height: 20px;
}
.Popular_Tours_description ul {
  width: 525px;

  line-height: 20px;
}
.Popular_Tours_description ul,
li {
  width: 525px;
  padding: 15px 0 5px 15px;
  line-height: 20px;
}
.Popular_Tours_Heading .Tours_DES {
  width: 530px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 30px;
}
.Popular_Tours_Heading {
  padding-top: ;
}
.Popular_Tours_Heading img {
  position: relative;
  bottom: 80px;
}

/* Destination style */

.Destination_Heading {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.Destination_Heading .primary_heading_h3 {
  text-align: center;
}
.Destination_Heading .primary_description {
  width: 643px;
  padding: 25px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.Destination_images {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}
.Destination_images img {
  padding: 10px;
}

/* Why Choose Us styles */
.Choose_us {
  gap: 20px;
}
.Choose_us_heading {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
}
.Choose_us_heading .primary_heading_h3 {
  text-align: center;
}
.Choose_us_heading .primary_description {
  width: 643px;
  padding: 25px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.choose_us_item {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.Best_Price_Guarantee {
  width: 85%;
  max-width: 1440px;
  margin-top: 50px;
}
.choose_us_item div {
  width: 85%;
  max-width: 1440px;
  height: 284px;
}
.choose_us_item {
  grid: 20px;
}
.choose_us_item_1 {
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose_us_item_2 {
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.Best_Price_Guarantee {
  padding-left: 20px;
  padding-top: 20px;
  width: 40%;
  max-width: 1440px;
  height: 284px;
  margin: 20px auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.Choose_us h4 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 16px 0;
}
.choose_us_item .Best_Price_Guarantee p {
  width: 486px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Deals & Discounts Styles */
.Deals_Discounts_heading {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
}
.Deals_Discounts_heading .primary_heading_h3 {
  text-align: center;
}
.Deals_Discounts_heading .primary_description {
  width: 643px;
  padding: 25px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.Deals_Discounts_1 {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border-radius: 16px;
  background: url(../Images/Group11.png), lightgray 50% / cover no-repeat;
}
.Deals_Discounts_1_book_now {
  width: 30%;
  height: 400px;
  flex-shrink: 0;
  /* padding: 20px; */
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.Deals_Discounts_1 .Deals_Discounts_1_book_now {
  position: absolute;
  margin-top: 50px;
  margin-left: 530px;
}
.Deals_Discounts_2 {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border-radius: 16px;
  background: url(../Images/Group12.png), lightgray 50% / cover no-repeat;
}
.Deals_Discounts_2_book_now {
  width: 30%;
  height: 400px;
  flex-shrink: 0;
  /* padding: 20px; */
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.Deals_Discounts_2 .Deals_Discounts_2_book_now {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}
.Deals_Discounts_3 {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border-radius: 16px;
  background: url(../Images/Group11.png), lightgray 50% / cover no-repeat;
}
.Deals_Discounts_3_book_now {
  width: 30%;
  height: 400px;
  flex-shrink: 0;
  /* padding: 20px; */
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.Deals_Discounts_3 .Deals_Discounts_3_book_now {
  position: absolute;
  margin-top: 50px;
  margin-left: 530px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
  gap: 10px;
}
h5 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 50px;
}
.primary_description_icon {
  width: 80%;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 16px 50px;
}
h6 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 50px;
  padding-bottom: 35px;
}
.Deals_Discounts_item button {
  margin-left: 50px;
}
.Deals_Discounts_item .primary_btn {
  width: 210px;
  height: 52px;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
.Deals_Discounts_item_btn {
  text-align: center;
}
#Perfect_Place h3 {
  width: 448px;
}
#Perfect_Place p {
  width: 532px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
#Perfect_Place ul {
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
#Perfect_Place button {
}
video {
  width: 610px;
  height: 424px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
  position: relative;
  bottom: 120px;
}
/* Responsive Media Queries styles */

@media screen and (max-width: 600px) {
  .primary_section_m {
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
  }

  .nav_container {
    display: none;
  }
  .mobile {
    display: block;
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
  }
  .nav_container_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0;
  }
  .logo_img {
    width: 28.724px;
    height: 33.516px;
    flex-shrink: 0;
  }
  .banner_container {
    margin: 0 auto;
  }
  .primary_heading_h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 21.543px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  span {
    color: #ff5400;
    font-family: Mulish;
    font-size: 21.543px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  i {
    color: #ff5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .banner_container h1 {
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
    padding: 25px 0 0 0;
    color: #fff;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .banner_description {
    width: 80%;
    padding: 10px 0 15px;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }
  .banner_input {
    display: grid;
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: center;
  }
  .banner_input,
  input,
  select {
    text-align: center;
    padding: 20px;
  }
  .primary_btn {
    width: 255px;
    height: 52px;
    flex-shrink: 0;
  }

  .Popular_Tours_description {
    flex-direction: column;
  }
  .Popular_Tours_Heading {
    padding-top: 10px;
  }
  .Popular_Tours_description .primary_description {
    width: 90%;
    max-width: 375px;
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .Popular_Tours_description ul,
  li {
    width: 90%;
    max-width: 375px;
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .Popular_Tours_description .Tours_DES {
    width: 90%;
    max-width: 375px;
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .Popular_Tours_Heading img {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    flex-shrink: 0;
    position: relative;
    top: 40px;
    align-items: center;
  }

  .Destination_Heading {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    padding-top: 65px;
    text-align: center;
  }

  .Destination_Heading h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .Destination_Heading .primary_description {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .Destination_images img {
    width: 90%;
    height: 175.393px;
    flex-shrink: 0;
  }
  .imag_row1 {
    display: grid;
    grid-template-columns: (1, 1fr);
  }
  .imag_row2 {
    display: grid;
    grid-template-columns: (1, 1fr);
  }
  .imag_row3 {
    display: grid;
    grid-template-columns: (1, 1fr);
  }

  .Choose_us_heading {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    padding-top: 65px;
    text-align: center;
  }

  .Choose_us_heading h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .Choose_us_heading .primary_description {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .choose_us_item {
    display: grid;
    grid-template-columns: (1, 1fr);
  }

  .Best_Price_Guarantee {
    width: 72%;
    max-width: 375px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    right: 20px;
  }

  .Choose_us h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .Deals_Discounts {
    display: none;
  }
  #Perfect_Place h3 {
    width: 248px;
    padding-top: 30px;
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px; /* 150% */
  }
  #Perfect_Place p {
    width: 335px;
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  #Perfect_Place ul {
    color: #01010c;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
  }
}
